.mainWrap {
  padding: 3rem;
}

.tableNameField {
  max-width: 20rem;
}

.selectFieldWrap {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  .tableName {
    font-weight: bold;
  }
}

.whereWrap {
  margin-top: 1rem;
  .mainTitle {
    font-size: 18px;
    font-weight: bold;
  }
}

.submitBtn {
  margin-top: 2rem;
}

.tableWrap {
  margin-top: 4rem;
}

.aggregationWrap {
  margin-top: 1rem;
  .innerWrap {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }
}
